@media only screen and (min-width: 32.5rem) {
    .fruitbox{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        font-size: .8em;
        text-align: center;
    }
    .fruitbox img, .shownot.mid img{
        margin: 5px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .shownot.mid{
        display: block;
    }
    .aboutTown img{
        width: 30%;
        float: left;
        margin: 1em 1em 0 0;
    }
    .foot{
        font-size: 1.8vw;
    }
    .foot .logo{
        width: 20%;
    }
    .weathercard{
        font-size: .9em;
    }
    .shownot.mid.transport img{
        width: 30%;
        float: right;
        margin: 2em 0;
    }

}