*{
    margin: 0;
    box-sizing: border-box;
}
.shownot{
    display: none;
}
.container1{
    color: white;
    width: 92%;
    margin: 4rem auto 3rem auto;
    background-color: #152614;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px black;

}
body{
    font-family: 'Roboto Mono', Abel , Quicksand, sans-serif;
}
body a{
    text-decoration: none;
    color: white;
}

.main1{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    line-height: 2em;
    
}
.main1 h1{
    letter-spacing: 2px;
    font-family: 'Roboto Slab';
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background-color: rgba(238, 238, 238, 0.671);
    padding: .5em;
    position: sticky;
    top: 0;
    
}
nav{
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 2;
    width: 40%;
    background-color: #152614;
    line-height: 2em;
    text-align: center;
    box-shadow: 0 0 10px 2px;
}
nav ul{
    padding: 0;
    margin-top: 15em;
}
.navli{
    list-style: none; 
}
.navli a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    display: block;
}
.navli a:hover{
    border: 2px solid white;
}
.logo {
display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;

}
.ham{
    justify-self: start;
    font-size: 2em;
    border: none;
}
.ham.del{
    background-color: #152614;
}
.ham.del:hover{
    border: 2px solid white;
}
.cto{
    justify-self: end;
    box-shadow: 0 0 10px black;
    padding: .7em;
    background-color: #FF9505 ;
    font-size: 1em;
    border: none;   
     border-radius: 2em;
    letter-spacing: 2px;
}

.fruitbox{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    
}
.supplier{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #FF9505;
    padding: .9em;
    border: 2px solid black;
}
.supplier h2{
    width: 100%;
}
.supplier img{
    width: 20%;
    border-radius: 50%;  
    border: 2px solid black; 
}
.fruitshow{
    width: 92%;
    margin: 0 auto;
}
.social{
    background-color: #FF9505;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 1.2em;
}
.aboutTown img{
    width: 100%;
}
.aboutTown a{
    text-decoration: underline;
    color: #FF9505;
}
.aboutTown h2{
    text-shadow: 0 0 20px #FF9505;
    font-family: 'Roboto Slab';
    letter-spacing: 2px;
}
.displaynav{
    display: block;
}
.foot{
    background-color:  rgba(238, 238, 238, 0.671);;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2em;
    place-items: center center;
    margin-top: 2em;
    font-size: 2.5vw;
    line-height: 2.5em;
}
.foot .logo{
    grid-column: 1/4;
    grid-row: 1/2;
}
.fnav{
    grid-column: 1/2;
    grid-row: 2/3;
}
.cite{
    grid-column: 2/3;
    grid-row: 2/3;
}
.location{
    grid-column: 3/4;
    grid-row: 2/3;
}
.bottom{
    grid-column: 1/4;
    justify-self: center;
    display: flex;
}

.fnav ul{
    padding: 0;
}
footer a, .fnav a{
    color: black;
    display: block;
}
.foot img{
    width: 30%;
    padding: 1.2em;
}
.cto.low{
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
footer a:hover, .fnav a:hover{
    border: 2px solid black;
}
.showweather{
    border: 2px solid #FF9505;
    border-radius: 15px;
    margin: 1em;
}
.weathercard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}
.temp, .hum, .cond, .cast{
    color: #FF9505;
}
.container3{
    width: 92%;
    margin: 0 auto;
    line-height: 2em;
}
.farm1, .farm2{
    margin: 2rem 0;
}
.farm1 img, .farm2 img{
    width: 100%;
}
iframe{
    width: 100%;
    margin-bottom: 2rem;
}
.contact{
    text-align: center;
    margin: 1rem auto;
}
.contact hr{
    width: 60%;
    margin: 0 auto;
}
.container2{
    width: 90%;
    margin: 1rem auto;
}
.container2 label{
    margin-left: 0.3rem;
}
.drreq{
    width: 90%;
}
fieldset{
    padding: .8em;
}
.container2 input{
    display: block;
    margin: 0.3rem 0 1rem .7rem;
   width: 60%;
   padding: .5em;
   border: none;
   border-bottom: 2px solid black;
}
fieldset:nth-child(2){
    padding: 1em;
    background-color: #152614;
}
.drreq select{
    display: block;
    margin: 1em 0;
}
.message{
    background-color: #2a7221;
    text-align: center;
    line-height: 2em;
    margin: 2em 0;
    color: white;
    padding: 1em;
    font-size: 1.2em;
    font-family: 'Roboto Mono', Abel , Quicksand, sans-serif;
}
#sendreq{
    margin-top: 2em;
}