@media only screen and (min-width: 32.5em) {
    header {
        padding: 50px;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
    }

    #container1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .name {
        grid-column: 1/3;
    }

    .psec {
        grid-column: 1/3;
    }

    #container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;

    }
}