@media only screen and (min-width: 32.5rem) {
    .hg1 section {
        font-size: 2vw;
    }

    #container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .hero {
        grid-column: 1/3;
    }

    /* .hero picture {
        width: 100%;
    } */
    /* .hero picture img {
        width: 100%;
    } */

    .news {
        grid-column: 1/3;
        grid-row: 2/3;
        background-color: #1B1B3A;
    }

    #spotlight {
        grid-column: 1/3;
        grid-row: 3/4;
        flex-direction: row;

    }

    .splsub {
        line-height: 1.5em;
    }

    .splsub img,
    .splsub p {
        margin: .8em auto;
    }

    .join {
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
        color: white;
        text-align: center;
        padding: 5px;
        background-color: #1B1B3A;
        width: 95%;
        margin: 0 auto;
        box-shadow: 0px 0px 10px 4px grey;
    }

    .join a {
        display: block;
        background-color: #ff3562;
        padding: 5px;
        border-radius: .8em;
        color: white;
        font-size: 1.2em;
        text-decoration: none;
    }

    .join p {
        margin: 5px auto;
    }

    .event {
        background-color: #1B1B3A;

    }

    .weather {
        background-color: #1B1B3A;
    }

    #ftcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        padding: 2em;
        font-size: 1em;
    }

    #ftcontainer img {
        width: 11vw;
        height: 11vw;
        margin-left: auto;

    }

    .first {
        display: flex;
        align-items: center;
    }

    #bottom {
        display: flex;
        justify-content: center;
        gap: .4em;
    }

    /* Medium css for discover page starts here */
    .left.lazyload,
    .right.lazyload {
        border: 1px solid black;
        box-shadow: 2px 0 5px 1px black;
        background-color: #1B1B3A;
        color: white;
    }

    .left.lazyload img,
    .right.lazyload img {
        width: 60%;
    }
    .reqform{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .reqform table{
        grid-column: 2/3;
        grid-row: 1/2;
        height: 5vw;
    }
}