@media only screen and (min-width: 32.5em) {
    .hg1 section {
        font-size: 2vw;
    }

    #container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #container div {
        font-size: 1.2em;
    }

    .hero {
        grid-column: 1/3;
        background-color: #eee;
    }

    .news {
        grid-column: 1/3;
        grid-row: 2/3;
        background-color: #eee;
    }

    #spotlight {
        grid-column: 1/3;
        grid-row: 3/4;
        flex-direction: row;
    }

    #container #spotlight {
        height: 30vh;
    }

    #spotlight div {
        padding: 0 2em;
        height: 27.5vh;
        font-size: 1em;

    }

    .join {
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
        background-color: #eee;
    }

    .event {
        background-color: #eee;

    }

    .weather {
        background-color: #eee;
    }

    #ftcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
    }

    #ftcontainer img {
        width: 13vw;
        height: 13vw;
        margin-left: auto;

    }

    .first {
        display: flex;
        align-items: center;
    }

    #bottom {
        display: flex;
        justify-content: center;
        gap: .4em;
    }


}