@import url('https://fonts.googleapis.com/css2?family=Abel&family=Atomic+Age&family=Quicksand&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box
}

header {
    display: flex;
    gap: 20px;
    color: #03b4cc;
    background-color: #010220;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: 5px 10px 20px 15px #010220a1;
}

body {
    background-color: #03b4cc;
    margin: 0;

}

img {
    width: 120px;
}

h1 {
    display: inline-block;
    place-self: center center;
    font-family: 'Atomic Age';
    letter-spacing: 2px;

}

main {
    color: #010220;
    width: 92%;
    margin: 0 auto;
    font-family: 'Abel';
    font-weight: 600;
}

main h2 {
    font-family: 'Atomic Age';
    letter-spacing: 2px;
}

footer {
    color: #03b4cc;
    background-color: #010220;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 10px 20px 15px #010220;
    margin-top: 50px;
}